<head>
  <base href="/">
</head>

<div class="row" style="text-align:center;margin-top: 100px;">
  <div class="col s12">

    <img src="./src/../../../../assets/img/Radhakrishna.jpg" width="20%" style="text-align:center;" />
    <br>
    <br>
    <label>Hello</label>
    <label>{{this.desg}}</label>
    <br>
    <br>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" style="text-align: center;width: 25%;display:block;margin:auto">
      <input class="input" (ngModel)="email" type="email" id="email" name="email">
      <br>
      <br>
      <input class="input" (ngModel)="password" type="password" id="pass" name="pass">
      <br>
      <br>
      <button class="button" type="submit" id="login" name="login" (click)="onSubmit(formData)">
        Login </button>

    </form>
    <div style="text-align: center;width: 25%;display:block;margin:auto">
      <a routerLink="/forgotpassword" style="float: left;">Forgot password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      <a routerLink="/register" style="float: right"> register</a>
    </div>
    

  </div>
</div>