
<br>
<br>

<div style="text-align:center;margin-top: 80px;">
<div class="row shadow-effect" style="width:100%;position: fixed;top:0; background-color:white" >
    <div style="float: left;width:8%;margin-right:0px;">
        <img src="./src/../../../../assets/img/Iskcon_logo.jpg" style="width: 90%;" />
    </div>
    <div style="float: left;width:20%;margin-top:15px;text-align: center;margin-left: -20px;">
        <span style="font:bold; color:#868686; font-size:25px;border-bottom: 1px solid blue;"> ASK KRISHANA?</span>
        <br>
        <span style="font:bold; color:#f3680c; font-size:15px;"> Learn-Donate-Pray</span>
    </div>
    <div style="float: right;width:10%;margin-top:15px;text-align: center;margin-left: 20px;">
          
        <div id="profile" *ngIf="isLoggedIn$" class="dropdown">
            <button class="dropbtn" style ="width: 50%"><img src="./src/../../../../assets/img/prof.png" style="width: 100%;" /></button>
            <div class="dropdown-content">
                <button class="button" style="font:bold; color:#868686; font-size:15px;" (click)="logout()"> Logout</button>
               <br>
                <button  routerLink="/home" class="button" style="font:bold; color:#868686; font-size:15px;"> Home </button>
            </div>
          </div>   
        </div>
        <!-- <div style="float: right;width:8%;margin-top:15px;text-align: center;margin-left: 20px;">
        <div  *ngIf="isLoggedIn$" class="dropdown">
            <button class="dropbtn">Analytics</button>
            <div class="dropdown-content">
                <button  class="button" routerLink="/donationpercamp" style="font:bold; color:#868686; font-size:15px;" >Per Campaign</button>
               <br>
                <button  routerLink="/timeseries"  class="button" style="font:bold; color:#868686; font-size:15px;"> Time  series </button>
                <button    routerLink="/heatmap"class="button" style="font:bold; color:#868686; font-size:15px;"> Uk HeatMap  </button>
            </div>
          </div>  
          </div>   -->
          <!-- <div style="float: right;width:8%;margin-top:15px;text-align: center;margin-left: 0px;">
            <div  *ngIf="isLoggedIn$" class="dropdown">
                <button class="dropbtn">Manage</button>
                <div class="dropdown-content">
                    <button  routerLink="/campaign" class="button" style="font:bold; color:#868686; font-size:15px;" > Campaign</button>
                   <br>
                    <button  routerLink="/tapandlearn" class="button" style="font:bold; color:#868686; font-size:15px;"> tap & Learn </button>
                    <br>
                    <button  routerLink="/home" class="button" style="font:bold; color:#868686; font-size:15px;"> Event  </button>
                    <br>
                    <button  routerLink="/register" class="button" style="font:bold; color:#868686; font-size:15px;"> staff </button>
                    
                    
                </div>
              </div>  
              </div>   -->
</div>
</div>

