<head>
  <base href="/">
</head>





<!-- <br>



<div style="margin-top:10px;width:100%;padding:100px;text-align: center; ">
  <div class="shadow-effect" style="float: left;width:49%; height:7cm">
    <div style="background-color:rgb(74, 252, 154); font-size:25px;color:white">Upcoming event and festivals</div>
    <br>
    <div *ngFor='let event of events | async; let i=index'>
      <div *ngIf="i<3">
        <span style="font-size:18px; text-align:center "> {{event.event_name}}</span>
      </div>
    </div>
    <button class="button"  type="submit" align="center"> UPDATE </button>
  </div>

  <div class="shadow-effect" style="float:right;width:49%; height:7cm ">

    <div style="background-color:rgb(247, 250, 78); font-size:25px;color:white; "> Upload Tap and learn content </div>
    <br>
    <div *ngFor='let data of tap_learn | async; let j=index'>
      <div *ngIf="j<1">
        <span style="font-size:18px;"> {{data.desc }}</span>
      </div>
    </div>
    <button class="button" routerLink="/tapandlearn" type="submit" align="center"> UPDATE </button>
  </div>
</div>

<br>
<div style="margin-top:12px;width:100%;padding:100px;text-align: center;">
  <div class="shadow-effect" style="float: left;width:49%;height:7cm; ">
    <div style="background-color:rgb(252, 156, 32); font-size:25px;color:white">Update Campaign List</div>
    <div *ngFor='let camp of campaign | async; let k=index'>
      <div *ngIf="k<3">
        <span style="font-size:18px;"> {{camp.name }}</span>
      </div>
    </div>
    <button style="text-align:center" class="button" routerLink="/campaign" type="submit" align="center"> UPDATE </button>
  </div>

  <div class="shadow-effect" style="float:right;width:49%; height:7cm; ">
    <div style="background-color:rgb(59, 111, 255); font-size:25px;color:white">Donation Time Series</div>
   <a routerLink="/heatmap/time series"> <img src="./src/../../../../assets/img/Donation Time Series (1).png" style="width: 90%; height:85%" /> </a> 
  </div>
</div>
<br>
<br>
<div style="margin-top:12px;width:100%;padding:100px;text-align: center;">
    <br>
    <br>
   
    <div class="shadow-effect" style="float:left; width:100%; height:400px; ">
      <div style="background-color:rgb(59, 111, 255); font-size:25px;color:white">Donation Per Campaign</div>
     <a routerLink="/heatmap/campaign chart"> <img src="./src/../../../../assets/img/Donation Per Campaign Types.png" style="width: 100%; height: 600px;" /> </a> 
    </div>

  </div>

  <div style="margin-top:12px;width:100%;padding:100px;text-align: center;">
    <br>
    <br>
    <div class="shadow-effect" style="float:left;width:49%; height:400px; ">
      <div style="background-color:rgb(59, 111, 255); font-size:25px;color:white">Donation Value Map (heatmap)</div>
     <a routerLink="/heatmap/mapbox heatmap"> <img src="./src/../../../../assets/img/Heatmap with mapbox.PNG" style="width: 90%; height:600px;" /> </a> 
    </div>
    <div class="shadow-effect" style="float:left; width:49%; height:400px; ">
      <div style="background-color:rgb(59, 111, 255); font-size:25px;color:white">Donors Volume Map (marker cluster)</div>
     <a routerLink="/heatmap/marker cluster"> <img src="./src/../../../../assets/img/marker cluster map.PNG" style="width: 100%; height: 600px;" /> </a> 
    </div>
    <br>
    <br>
  </div> -->
