<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="js/leaflet-providers.js"></script>

<html>

<head>
  <meta charset="utf-8">
  <title>Analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
</head>

<body>
<style type="text/css">
 #container {
	width: 80%;
	height: 100%;
}
#container1 {
	width: 100%;
  height: 100%;
  
}
.map {
  height: 100%;
  padding: 0;
  width: 80%;
}


.mapbox {
  width: 80%;
  height: 600px;
}

  </style> 
 
<div id="campaign chart" >
<div id="container" style="padding-left : 80px">
      <h3 align='center'>Donation Per Campaign Types </h3>
       <chart [options]="Donation_cmapign_types"></chart>
</div>
</div>


</body>
</html>
