<div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button (click)="onButton()">Print date</button>
</div>

<div>
	<div class="container">
	  <form class="demo-form">
	    <timepicker color="primary" [(userTime)]="time" (change)="onChangeTime()"></timepicker>
	  </form>
	</div>
</div>

<h3>{{finalDate}}</h3>
<h3>{{final_date}}</h3>
