<head>
  <base href="/">
</head>
<div class="row" style="text-align: center;margin-top: 100px;">
  <div class="col s12" style="display: block;width:100%;margin:auto;text-align: center">
    <img src="./src/../../../../assets/img/Radhakrishna.jpg" width="20%" style="align:center;" />
    <h3 style="color: rgb(248, 67, 12); letter-spacing: 3px ; font:bold"> Enter the World of Krishna as </h3>
    <div style="width:40%;display: block;margin:auto">
      <button class="button" routerLink="/login/President"> President </button>
      <button class="button" routerLink="/login/Radha Boutique"> Radha Boutique </button>
      <button class="button" routerLink="/login/Donation Life Memberships"> Donation Life Memberships </button>
      <button class="button" routerLink="/login/Food For Life"> Food For Life </button>
      <button class="button" routerLink="/login/Child Protection"> Child Protection </button>
    </div>
  </div>
</div>