<head>
   <base href="/">
</head>
<div class="row" style="text-align:center;margin-top: 100px;">
   <div class="col s12">
      <h3>Select your Campaign</h3>
      <br>
      <select class="select" id="camp" (change)="showSubCamp()" placeholder="select Campaign">
         <option value="" disabled selected>Select your option</option>
         <option *ngFor='let item of campaign | async' id={{item.name}}>{{item.name}}</option>
      </select>
      <div  id="sub_camp" style="display:none">
         <div style="width:90%;">
            <button class="button" style="float:right" (click)="openModule()"> Add New </button>
            <br>
         </div>
         <br>
         <br>
         <table class="shadow-effect table-css">
            <tr class="shadow-effect"  style="border-bottom: 0.3px solid #cccccc; text-align:center">
               <th align="center" class="td-css width-20"  > Name of the Sub Campaign </th>
               <th align="center" class="td-css width-20"  > Is there any Sponsorship to this Sub Campaign </th>
               <th align="center" class="width-20" colspan="2"> Manage </th>
            </tr>
            <tr *ngFor='let item of camp_all' >
               <td align="center" class="td-css width-25">{{item.name}}</td>
               <td align="center" class="td-css width-25">{{item.isChild}} </td>
               <!-- <td ><button value={{item.name}} id={{item.name}}  (click)="delete(this.id)" >delete</button> </td>
                  <td ><button value={{item.name}} id={{item.name}}  (click)="show(this.id)" >edit</button> </td> -->
               <td align="center" class="width-20">
                  <div class="float-left width-50">
                     <img src="./src/../../../../assets/img/edit.jpg" class="center width-10" />
                     <button class="button-text" value={{item.name}} id={{item.name}} (click)="show(this.id)">Edit</button>
                  </div>
                  <div class="float-left width-50">
                     <img src="./src/../../../../assets/img/delete.jpg" class="center width-10" />
                     <button class="button-text" value={{item.name}} id={{item.name}} (click)="delete(this.id)">Delete</button>
                  </div>
               </td>
            </tr>
         </table>
         <br>
         <div id="myModal" class="modal shadow-effect">
            <span class="close" (click)="spanClick()">&times;</span>  
            <div *ngIf="!eventAdded" class="modal-content" style="background-color: #f0f8ff00;border-radius: 0px;padding: 0px;">
               <h5 id="h5" class="popup-heading">Add New Sub Campaign</h5>
               <br>
               <br>
               <label class="float-center">Name of sub campaign</label><br>
               <input type="text" class="input" id="name" name="name" placeholder="Enter name for sub campaign" required>
               <br>
               <br>
               <div>
                  <label class="float-center">Is there any Sponsorship to this Sub Campaign</label>
                  <form action="">
                     <input type="radio" [(ngModel)]="model" id="true"  name="ischild" value="true">True<br>
                     <input type="radio" [(ngModel)]="model"  id="false" name="ischild" value="false">False
                  </form>
               </div>
               <br>
               <button type="submit" class="button1" id="add_btn"  (click) = "checkButton()">ADD</button>
            </div>
            <div *ngIf="eventAdded" style="text-align: center; margin-top: 50px;">
               <span style="border: 2px solid #008cba; padding: 5px;  border-radius: 50%; font-size: 20px;">&#10004;</span>
               <br><br>
               <h3 *ngIf="eventUpdated">Sub Campaign updated successfully!</h3>
               <h3 *ngIf="!eventUpdated">Sub Campaign added successfully!</h3>
               <button class="button" (click)="onContinue()">Continue</button>
             </div>
         </div>
      </div>
   </div>
</div>