


    <div class="row" style="text-align:center;margin-top: 100px;">
        <div class="col s12">
           
    
            <div class="form-container">
                <h3>Please enter your email address</h3> <br>
                <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                <label>Enter Your EmailId &nbsp; &nbsp;</label>
                <input class="input" type="email" placeholder="emailid" (ngModel)="email" id="email" name="email"  ><br>
                <br>
                <button class="button" type="submit" >Reset</button>
                </form>
                </div> 
    </div>
    </div>