<div style="display: flex;">
  <div style="width: 15vw;">
    <mat-list [style.height.px]="myInnerHeight">
      <mat-list-item style="height: 35px; cursor: pointer;" [routerLink]="['/dashboard',{ outlets: { 'sidebar': ['donationpercamp'] } }]"> <span >Donation Analysis</span> </mat-list-item>
      <hr/>
      <mat-list-item style="height: 35px; cursor: pointer;" [routerLink]="['/dashboard',{ outlets: { 'sidebar': ['tapandlearn'] } }]"> <span >Learn</span> </mat-list-item>
      <hr/>
      <mat-list-item style="height: 35px; cursor: pointer;" ><span  >Donate</span> </mat-list-item>
      <hr/>
      <mat-list-item style="height: 35px; cursor: pointer;" [routerLink]="['/dashboard',{ outlets: { 'sidebar': ['course'] } }]"> <span>Courses</span> </mat-list-item>
      <hr/>
      <mat-list-item style="height: 35px; cursor: pointer;" > <span>Reports</span> </mat-list-item>
      <hr/>
      <mat-list-item style="height: 35px; cursor: pointer;"> <span>Temple info</span> </mat-list-item>
      <hr/>
    </mat-list>
  </div>
  <div style="max-width: 84vw; overflow: auto;">
    <router-outlet name="sidebar"></router-outlet>
  </div>
</div>