.input{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.button{
    background-color: #008CBA;
    width: 15%;
    font-size: 15px;
    color: white;
    padding: 12px 20px; 
    /* border-radius: 0px; */
    border: 0ch;
    
}
.button1{
    background-color: #008CBA;
    width: 20%;
    font-size: 15px;
    color: white;
    padding: 12px 20px;
    border-radius: 0px;
    border: 0ch;
    
}
    /* pop up css */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px;/* Location of the box */
        left: 450px;
        top: 200px;
        width: 50%; /* Full width */
        height: 50%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: white; /* Fallback color */
        background-color : white rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content1 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        /* border: 1px solid #888; */
        width: 80%;
    }
    
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 40px;
        font-weight: lighter;
        position: absolute;
        top: 0;
        right: inherit;
        margin-right: 2%;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .popup-inner-style
    {
       margin: auto;
       text-align: center;

       
    }
    .popup-heading
    {
        border-bottom: 2px solid #2bbbec;
        padding-bottom: 10px;
        width: 50%;
        text-align: center;
        margin: auto;
    }
/* 
    .table-css
{
    margin-left:auto ;
    margin-right: auto;
     margin:center; 
      width:80%;
    border:1 px solid grey;
}
.td-css
{
    padding: 15px;
    border:1px solid grey;
} */